.wrapper {
	background: #ff80ff none repeat scroll 0 0;
	border-radius: 5px;
	margin: 30px auto;
	width: 400px;
}
h1{
	text-align: center;
    color: blueviolet
}
.title {
	background: #ff0080 none repeat scroll 0 0;
	color: #fff;
	margin-bottom: 0;
	padding: 5px 5px 5px 20px;
}

.form-control {
	padding: 20px;
}

.form-item {
	margin: 10px 0;
}

.form-item input {
	background: #ffd7ff none repeat scroll 0 0;
	border: medium none;
	border-radius: 5px;
	font-size: 20px;
	height: 30px;
	width: 250px;
}

.form-item label {
	display: inline-block;
	width: 90px;
}

.btn {
	background: #ea0075 none repeat scroll 0 0;
	border-radius: 3px;
	color: #fff;
	font-size: 20px;
	padding: 3px 10px;
	text-decoration: none;
}

.btn:hover {
	color: #00ff00;
	opacity: 0.7;
}

.wrapper-cmt {
	background: #91dbff none repeat scroll 0 0;
	border-radius: 5px;
	margin: 30px auto;
	padding: 20px;
	width: 600px;
}

.form-item #fullname {
	width: 150px;
}

.form-item #cmt {
	width: 450px;
}

.form-cmt {
	border-bottom: 2px solid #ff0080;
}

.item-cmt {
	border-bottom: 1px dotted #ff0080;
}

.name-cmt {
	border: 1px dashed #ff0080;
	padding: 0 3px;
}

.content-cmt {
	
}

.time-cmt {
	color: #ff55aa;
	margin-left: 20px;
}

.item-cmt p {
	display: inline-block;
}
.option{
	color: blue;
    font-size: 20px;
}
.hideContent{
	display:none;
}